*, *:after, *:before {
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
}
a {
   text-decoration:none;
   color:#A08B5E;
   transition: color 0.3s ease;
}
a:hover, a:focus {
   color:#D4B464;
}
.left { float:left; }
.right { float:right; }
/* {{{ Headings */
h1:first-child {
   margin-top:0;
}
h1, h2, h3, h4, h5, h6 {
   text-shadow:-2px -1px 1px #242424;
}
h1 {
   color:#6B949E;
}
h2 {
   color:#AAA;
}
h3 {
   color:#D4B464;
}
/* }}} */

/* {{{ Header */
#header {
   background:rgba(36,36,36, 0.3);
   border-top:2px solid #D4B464;
   padding-bottom:0.4em;
   height:5em;
}
#logo {
   float:left;
   height:100%;
   padding:0.3em 0.6em 0 0.7em;
   opacity:0.6;
   -webkit-filter:invert(1); /* TODO remove */
}
#header h1 {
   display:block;
   margin:0;
   padding-top:0.6em;
   padding-left:7px;
   font-size:1.7em;
   line-height:1em;
   color:#447784;
}
#navigation {
   display:inline-block;
   font-size:0.9em;
   border-top:1px solid rgba(120,123,124,0.5);
   padding-top:0.2em;
}
#navigation a {
   display:inline-block;
   margin:0 0 0 7px;
   text-shadow: none;
   letter-spacing:-0.05rem;
   white-space:nowrap;
}
#navigation a:first-child {
   margin-left:0;
}
#languages {
   float:right;
   margin:0.5em 1em 0 0;
}
#languages a {
   font-size:80%;
   padding:0.5em;
}
/* }}} */

#content {
   margin:0 auto;
   padding:0 1em 8em 1em;
   overflow:auto; /* "clearfix" */
   color:rgb(213,213,213);
}
.section.level1 {
   max-width:55em;
   overflow:auto;
   margin: 1em auto 0.5em;
   padding:1em;
}

/* {{{ wrappers and footer */
html, body {
   margin:0;
   padding:0;
   height:100%;
   min-width:520px;
}
#wrapper {
   min-height:100%;
   position:relative;
   background-image:url(/images/gray_sand.png);
}
#footer {
   position:absolute;
   width:100%;
   bottom:0;
   left:0;
   padding:1em 2em 0.5em;
   font-size:90%;
   color:white;
   opacity:0.7;
   text-align:center;
}
/* }}} */

/* {{{ Responsive */
@media (max-width: 95em) {
   #content {
      padding-left:0.2em;
      padding-right:0.2em;
   }
}
@media (min-width: 1000px) {
   [class*='col-'] {
      float:left;
   }
   .col-3-a {
      width:66.666%;
   }
   .col-3-b {
      width:33.333%;
   }
}
/* }}} */
