a {
   text-decoration:none;
   color:rgb(81,2,194);
}
a:hover {
   color:rgb(73,145,145);
}
.left {
   float:left;
}
.right {
   float:right;
}
h1, h2 {
   color:rgb(47, 113, 119);
}

#wrapper {
   background:rgb(226,226,226);
}

/* {{{ Header */
#header {
   background:rgb(238, 238, 238);
   overflow:auto;
   padding-left:9%;
   box-shadow:rgba(0,0,0,0.1) 0 5px 5px 0;
}
#logo {
   float:left;
   height:6em;
   margin:0.5em;
   opacity:0.6;
}
#header h1 {
   display:inline-block;
   margin:0;
   padding-top:0.7em;
   padding-left:7px;
   color:rgb(79,53,117);
   font-size:2em;
}
#navigation {
   width:100%;
   padding:0.5em 0 0 0;
}
#navigation a {
   display:inline-block;
   margin:7px;
   color: rgba(47, 113, 119, 0.7);
   text-shadow: none;
   letter-spacing:-0.05rem;
   white-space:nowrap;
}
#navigation a::before {
   color: #666;
   content: attr(data-hover);
   position: absolute;
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
}
#navigation a:hover::before,
#navigation a:focus::before {
   -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   transform: scale(0.9);
   opacity: 0;
}
#languages {
   float:right;
   margin-top:0.5em;
   padding-right:9%;
}
#languages a {
   font-size:80%;
   padding:0.5em;
   color:rgb(58,58,58);
}
#languages a:hover {
   color:rgb(100,100,100);
}
/* }}} */

#content {
   margin:0 auto;
   padding:0 3em 8em 1em;
   max-width:70em;
   overflow:auto;
   background:rgb(252,252,252);
   box-shadow:rgba(0,0,0,0.1) 0 4px 4px 0 inset;
   border-right:1px solid rgb(206, 206, 206);
   border-left:2px solid rgb(206, 206, 206);
}
.section {
   max-width:55em;
   overflow:auto;
   margin:0 auto;
}

/* {{{ wrappers and footer */
html, body {
   margin:0;
   padding:0;
   height:100%;
   min-width:520px;
}
#wrapper {
   min-height:100%;
   position:relative;
}
#footer {
   box-sizing:border-box;
   position:absolute;
   width:100%;
   height:3em;
   bottom:0;
   left:0;
   padding:2em;
   font-size:90%;
   background:rgb(216,216,216);
   box-shadow:rgba(226,226,226,1) 0 4px 4px 0 inset;
}
/* }}} */

/* {{{ Responsive */

@media (max-width: 95em) {
   #header {
      padding-left:0;
   }
   #languages {
      padding-right:0;
   }
   #content {
      padding-left:0.2em;
      padding-right:0.2em;
   }
}
