*, *:after, *:before {
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
}
.left { float:left; }
.right { float:right; }

/* {{{ Anchors */
a {
   text-decoration:none;
   color: #247875;
   transition: color 0.3s ease;
}
a:hover, a:focus {
   color:#638B10;
}
#header a {
   color:#72AFAD;
}
#header a:hover, #header a:focus {
   color:#8FB938;
}
/* }}} */

/* {{{ Headings */
h1, h2, h3, h4, h5, h6 {
   color:#3C3C3C;
}
/* }}} */

/* {{{ Header */
#header {
   border-top:2px solid #166966;
   padding:0.6em 1em;
   min-height:7.5em;
   background:rgb(36,36,36);
   background-image:url(/images/stressed_linen_@2X.png);
}
#header h1 {
   display:block;
   margin:0;
   padding-top:0.6em;
   padding-left:7px;
   font-size:2.1em;
   line-height:1em;
   color:lightgray;
}
#logo {
   float:left;
   height:6.5em;
   padding:0.3em 0.6em 0.6em 0.7em;
   opacity:0.9;
   -webkit-filter:invert(1); /* TODO remove */
}
#navigation {
   display:inline-block;
   border-top:1px solid rgba(120,123,124,0.5);
   padding-top:0.2em;
}
#navigation a {
   display:inline-block;
   float:left;
   margin:0 9px 0 0;
   text-shadow: none;
   letter-spacing:-0.05rem;
   white-space:nowrap;
}
@media (max-width:55em) {
   #navigation {
      border:none;
   }
   #navigation a {
      clear:both;
   }
}
#navigation a:last-child {
   margin-right:0;
}
#languages {
   float:right;
   margin:0.5em 1em 0 0;
}
#languages a {
   font-size:80%;
   padding:0.5em;
}
/* }}} */

html, body {
   margin:0;
   padding:0;
   height:100%;
   min-width:520px;
}
#wrapper {
   min-height:100%;
   position:relative;
   background:whitesmoke;
}
#content {
   overflow:auto; /* "clearfix" */
   margin:0;
   padding:0 0 8em 0;
}
.section.level1 {
   max-width:55em;
   overflow:auto;
   margin: 1em auto 0.5em;
   padding:1em;
}

/* Images */

.caption {
   margin-top:0;
   text-align:center;
   font-style:italic;
   font-size:80%;
   color:gray;
}
.three-images {
   overflow:auto;
}
.three-images img {
   width:100%;
   float:left;
   opacity:0.85;
}
.three-images img:hover {
   opacity:1;
}
@media (max-width: 65em) {
   .three-images {
      clear:both;
   }
   .three-images .figure, .three-images > img {
      float: left;
      width:33.33333%;
   }
   .small-hide {
      display:none;
   }
}
@media (min-width: 65em) {
   .three-images {
      width:24%;
   }
   .three-images .figure {
      margin:1em 0;
   }
}

/* {{{ footer */
#footer {
   position:absolute;
   width:100%;
   bottom:0;
   left:0;
   padding:1em 2em 0.5em;
   font-size:90%;
   text-align:center;
}
/* }}} */

/* {{{ Responsive */
@media (min-width: 1000px) {
   [class*='col-'] {
      float:left;
   }
   .col-3-a {
      width:66.666%;
   }
   .col-3-b {
      width:33.333%;
   }
}
/* }}} */
