<!DOCTYPE html>
<html lang="$lang$">
   <head>
      <meta "charset=UTF-8" />
      <title>$main_title$ - $title$</title>
      <link rel="shortcut icon" href="/favicons/favicon.ico">
      <link rel="icon" sizes="16x16 32x32 64x64" href="/favicons/favicon.ico">
      <link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-196.png">
      <link rel="icon" type="image/png" sizes="160x160" href="/favicons/favicon-160.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png">
      <link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicon-64.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72.png">
      <link rel="apple-touch-icon" href="/favicons/favicon-57.png">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
      <meta name="msapplication-config" content="/favicons/browserconfig.xml">

      <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
      <link rel="stylesheet" type="text/css" href="/css/typebase.css" />
      <link rel="stylesheet" type="text/css" href="/css/default.css" />
   </head>
   <body>
      <div id="wrapper">
         <div id="header">
            <div id="languages">
            $for(lang_choices)$
               <a href="$url$">$title$</a>
            $endfor$
            </div>

            <img id="logo" src="/images/logo.svg" alt="">
            <h1>$main_title$</h1>

            <div id="navigation">
               <a href="/$lang$">$nav_home$</a>
               <a href="/$lang$/organisation.html">$nav_organisation$</a>
               <a href="/$lang$/projects.html">$nav_projects$</a>
               <a href="/$lang$/publications.html">$nav_publications$</a>
               <a href="/$lang$/undergraduates.html">$nav_undergraduates$</a>
               <a href="/$lang$/postgraduates.html">$nav_postgraduates$</a>
               <a href="/$lang$/public_outreach.html">$nav_public_outreach$</a>
            </div>
         </div>

         <div id="content">
            $if(custom_layout)$
               $body$
            $else$
               <div class="section level1">
                  $if(is_projects)$
                     <h1>$msg_projects$ $if(tag)$ ($tag$) $endif$</h1>
                  $else$
                     $if(is_courses)$
                        <h1>$msg_courses$ $if(tag)$ ($tag$) $endif$</h1>
                     $else$
                        <h1>$title$</h1>
                        $if(tags)$
                           <p>
                              <i>$tags$</i>
                           </p>
                        $endif$
                     $endif$
                  $endif$
                  $body$
               </div>
            $endif$
         </div>

         <div id="footer">
            &copy;2014
            | Kumpula Space Center. All Rights Reserved
            | Design &amp; code:
            <a href="http://funktionaali.com">Samuli Thomasson</a>
            | This site is
            <a href="https://github.com/SimSaladin/kumpulaspace.fi">open source</a> and generated by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            
         </div>
      </div>
   </body>
</html>
