<div class="section level1">

<h1>Projects $if(tag)$ ($tag$) $endif$</h1>

<p>$if(taglist)$ $taglist$ $endif$

<ul class="padded">
$for(items)$
<li> <i>$title$</i> $if(year)$ ($year$) $endif$ $if(category)$ $category$ $endif$
 <div style="font-size:80%"><ul>
$if(status)$ <li>$status$</li> $endif$
<li>Contact: $contact$
   (<a href="mailto:$contact_mail$">$contact_mail$</a>)</li>
<li><a href="$url$">More info</a></li>
$if(homepage)$ <li>Homepage: <a href="$homepage$">$homepage$</a></li> $endif$
</ul></div>
</li>
$endfor$
</ul>

</div>
